## --- Main to be ignored ---
impatiens_phylogeography.tex
impatiens_phylogeography.pdf

## --- XCF files ---
*.xcf

## --- LaTeX ignore files --- 
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

## --- R ignore files ---

# History files
.Rhistory

# Example code in package build process
*-Ex.R

## --- various ---
data/.~lock*
*-tikzDictionary
*.pdf
*.R\#
.\#*.*
*~

## --- paths ---
figures/
cache/

